html, body, ul, p, li, span, h1, h2, h3,h4, figure {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 400;
}

body {
    animation: hideOverflow 3s;
}

@keyframes hideOverflow {
    from {
        max-height: 100%;
        overflow: hidden;
    }
    99%{max-height: 100%;overflow: hidden;}
    to { max-height: none;}
}
