//Typo sizes
$h2-size:25px;
$h3-size:23px;
$btn-size: 17px;

//colors
$primary-color: #f6f6f6;
$secondary-color: #eaeaea;
$whitePink: #f5edff;
$pinkBtn: #e16fda;
$purpleBtn: #a45bdc;
$darkPurple: #9356dc;
$darkGray: #7e7e7e;
$darkGreen: #0e8f70;
$lightGreen: #99e2d0;

//restaurants cards
$borderRadiusRestaurantsCards: 15px;

//footer var
$footerIconsSize: 15px;

//breakpoints var
$ipad: 600px;
$startDesktop: 925px;
