<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/public/css/style.css">
    <script src="https://kit.fontawesome.com/c5d99bbc6c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <title>Ohmyfood - À la française</title>
</head>
<body>
    <header>
        <i class="fas fa-arrow-left"></i>
        <h1> <a href="/index.html"><img src="/src/public/img/ohmyfood.png" alt="Ohmyfood logo"></a> </h1>
    </header>
    <!-- <div id="ctnLoading">
            <div id="loading"></div>
    </div> -->
    <main>
        <!-- Banner -->
        <section class="menuBanner">
            <figure>
                <div class="ctnBanner">
                    <img src="/src/public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="Restaurant à la française - Ohmyfood">
                </div>
                
                <figcaption>
                    <h2>À la française</h2>
                    <i class="far fa-heart heart">
                        <i class="fas fa-heart heart-color"></i>  
                    </i>
                </figcaption>
            </figure>
        </section>

        <section class="ctnMenus">
            <section class="menu">
               <h3>Entrées</h3>
               <span class="underTitle"></span>
               <ul>
                   <li>
                       <p class="bold">Tartare de poulpe acidulé</p>
                       <div class="rowPrice"><p>Aux zests d'orange</p><span>25€</span></div>
                   </li>
                   <li>
                    <p class="bold">Velouté de légumes d'antan</p>
                    <div class="rowPrice"><p>Carotte, panais, topinambour</p><span>35€</span></div>
                   </li>
                   <li>
                    <p class="bold">Soupe à l'oignon</p>
                    <div class="rowPrice"><p>Revisitée</p><span>20€</span></div>
                   </li>
               </ul>
            </section>
            <section class="menu">
                <h3>Plats</h3>
                <span class="underTitle"></span>
                <ul>
                    <li>
                        <p class="bold">Coquilles Saint-Jacques</p>
                        <div class="rowPrice"><p>Accompagnées d'une purée de panais</p><span>40€</span></div>
                    </li>
                    <li>
                     <p class="bold">Magret de canard</p>
                     <div class="rowPrice"><p>Et parmentier de pommes de terre</p><span>35€</span></div>
                    </li>
                    <li>
                     <p class="bold">Pigeonneau d’Ille-et-Vilaine</p>
                     <div class="rowPrice"><p>Sur son lit de gnocchis aux légumes</p><span>44€</span></div>
                    </li>
                </ul>
             </section>
             <section class="menu">
                <h3>Desserts</h3>
                <span class="underTitle"></span>
                <ul>
                    <li>
                        <p class="bold">Pétales de violettes glacés</p>
                        <div class="rowPrice"><p>Et purée de noisettes</p><span>18€</span></div>
                    </li>
                    <li>
                     <p class="bold">Fondant au chocolat</p>
                     <div class="rowPrice"><p>Revisité</p><span>22€</span></div>
                    </li>
                    <li>
                     <p class="bold">Millefeuille croustillant</p>
                     <div class="rowPrice"><p>Myrtilles et pâte d’amande</p><span>23€</span></div>
                    </li>
                </ul>
             </section>
        </section>
        <div class="ctnGetBtn">
           <button class="ctaBtn">Commander</button> 
        </div>
        
        
    </main>
    <footer>
        <h5><img src="../public/img/ohmyfood.png" alt="Ohmyfood logo"></h5>
        <ul>
            <li class="bold"><i class="fas fa-utensils"></i>Proposer un restaurant</li>
            <li class="bold"><i class="fas fa-hands-helping"></i>Devenir partenaire</li>
            <li>Mentions légales</li>
            <li>Contact</li>
        </ul>
    </footer>
</body>
</html>