<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/c5d99bbc6c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <title>Ohmyfood - À la française</title>
</head>

<body>
    <header>
        <a href="/index.html"><i class="fas fa-arrow-left"></i></a>

        <h1> <a href="/index.html"><img src="../public/img/ohmyfood.png" alt="Ohmyfood logo"></a> </h1>
    </header>
    <!-- <div id="ctnLoading">
            <div id="loading"></div>
    </div> -->
    <main>
        <!-- Banner -->
        <section class="menuBanner">
            <figure>
                <div class="ctnBanner">
                    <img src="../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
                        alt="Restaurant à la française - Ohmyfood">
                </div>

                <figcaption>
                    <h2>La note enchantée</h2>
                    <i class="far fa-heart heart">
                        <i class="fas fa-heart heart-color"></i>
                    </i>
                </figcaption>
            </figure>
        </section>

        <section class="ctnMenus">
            <section class="menu entry">
                <h3>Entrées</h3>
                <span class="underTitle"></span>
                <ul>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Ravioles de foie gras</p>
                            <div class="rowPrice">
                                <p>Accompagnés de leur crème à la truffe</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>25€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>

                    </li>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Caviar osciètre</p>
                            <div class="rowPrice">
                                <p>Sur blini à la farine de blé noir</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>35€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </li>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Homard et espuma de potiron</p>
                            <div class="rowPrice">
                                <p>Mariné aux zestes d'orange</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>20€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </li>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Foie gras de canard cuit entier</p>
                            <div class="rowPrice">
                                <p>Confiture de figue et pain toasté</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>35€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="menu mainDish">
                <h3>Plats</h3>
                <span class="underTitle"></span>
                <ul>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Noix de coquilles Saint-Jacques</p>
                            <div class="rowPrice">
                                <p>Sur lit de purée de céleri-rave</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>40€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </li>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Langoustine poêlée</p>
                            <div class="rowPrice">
                                <p>Purée de patate douce</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>35€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </li>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Mijoté de queue de boeuf</p>
                            <div class="rowPrice">
                                <p>Et riz sauvage aux zestes de citron</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>44€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="menu mainDish">
                <h3>Desserts</h3>
                <span class="underTitle"></span>
                <ul>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Macaron noisette et chocolat</p>
                            <div class="rowPrice">
                                <p>Glace au caramel brun et sel de Guérande</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>18€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </li>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Baba au rhum revisité</p>
                            <div class="rowPrice">
                                <p>Avec son coulis de citron</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>22€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </li>
                    <li>
                        <div class="ctnItem">
                            <p class="bold nowrap">Tarte au citron meringuée</p>
                            <div class="rowPrice">
                                <p>Déstructurée</p>
                                <div class="ctnPriceAndAnimation">
                                    <span>23€</span>
                                </div>
                            </div>
                        </div>
                        <div class="ctnHoverAnimation">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
        <div class="ctnGetBtn">
            <button class="ctaBtn">Commander</button>
        </div>


    </main>
    <footer>
        <h5><img src="../public/img/ohmyfood.png" alt="Ohmyfood logo"></h5>
        <ul>
            <li class="bold"><i class="fas fa-utensils"></i>Proposer un restaurant</li>
            <li class="bold"><i class="fas fa-hands-helping"></i>Devenir partenaire</li>
            <li>Mentions légales</li>
            <li>Contact</li>
        </ul>
    </footer>
</body>

</html>