.ctaBtn {
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
    background: rgb(164,91,220);
    background: linear-gradient(350deg, $purpleBtn 44%, $pinkBtn 100%);
    color: white;
    border: 0;
    font-size: $btn-size;
    font-weight: 500;
}