.ctaBtn {
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(360deg, rgba(147, 86, 220, .92), rgba(255, 121, 218, .92));
    color: white;
    border: 0;
    font-size: $btn-size;
    font-weight: 400;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }